<section class="container mx-auto flex items-center justify-center">
    <table class="">
        <thead>
            <tr>
                <th>Q.No.</th>
                <th>Problem Descriptions</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1.</td>
                <td>Minimum no. of Jumps to reach end of an array</td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>1.</td>
                <td>Minimum no. of Jumps to reach end of an array</td>
                <td><input type="checkbox"></td>
            </tr><tr>
                <td>1.</td>
                <td>Minimum no. of Jumps to reach end of an array</td>
                <td><input type="checkbox"></td>
            </tr><tr>
                <td>1.</td>
                <td>Minimum no. of Jumps to reach end of an array</td>
                <td><input type="checkbox"></td>
            </tr>
        </tbody>
    </table>
</section>